{
  "presets": [
    [
      "@babel/preset-env",
      {
        useBuiltIns: 'usage',
        "modules": false,
        "targets": "last 1 years"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "lodash"
  ]
}
